* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    padding: 90px 20px 0;
    background-color: #404040;
  }
  
  .header {
    background-color: #9B1EE4 ;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
  
    max-width: 992px;
    margin: 0 auto;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
  }
  
  .logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
  }
  
  .nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
  }
  
  .nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
  }
  
  .nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
  }
  
  .nav-menu-link:hover,
  .nav-menu-link_active {
    background-color: #2a0236;
    transition: 0.5s;
  }
  
  /* TOGGLE */
  .nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
  
    display: none;
  }
  
  /* MOBILE */
  @media (max-width: 768px) {
    body {
      padding-top: 70px;
    }
  
    .header {
      height: 60px;
    }
  
    .logo {
      font-size: 25px;
      padding: 0 20px;
      line-height: 60px;
    }
  
    .nav-menu {
      flex-direction: column;
      align-items: center;
      margin: 0;
      background-color: #9B1EE4 ;
      position: fixed;
      top: 60px;
      width: 100%;
      padding: 20px 0;
  
      height: calc(100% - 60px);
      overflow-y: auto;
  
      left: 100%;
      transition: left 0.3s;
    }
  
    .nav-menu-item {
      line-height: 70px;
    }
  
    .nav-menu-link:hover,
    .nav-menu-link_active {
      background: none;
      color:#2a0236;
    }
  
    .nav-toggle {
      display: block;
    }
  
    .nav-menu_visible {
      left: 0;
    }
  
    .nav-toggle:focus:not(:focus-visible) {
      outline: none;
    }
  }

  .form{
		width: 100%;
		height: 50px;
		max-width: 400px;
		position: relative;
		overflow: hidden;
    margin: auto;
	}
	.form input{
		width: 100%;
		height: 100%;
		background: none;
		color: #fff;
		padding-top: 20px;
		border: none;
		outline: 0px;
    position: absolute;
    
	}
	.form .lbl-nombre{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		border-bottom: 1px solid #c7c7c7;
	}
	.form .lbl-nombre:after{
		content: '';
		position: absolute;
		left: 0;
		bottom: -1px;
		width: 100%;
		height: 100%;
		border-bottom: 3px solid #9B1EE4;
		transform: translateX(-100%);
		transition: all 0.3s ease;
	}
	.text-nomb{
		position: absolute;
		bottom: 5px;
		left: 0;
		transition: all 0.3s ease;
		color: #fff;
	}
	.form input:focus + .lbl-nombre .text-nomb,.form input:valid + .lbl-nombre .text-nomb{
		transform: translateY(-150%);
		font-size: 14px;
		color: #9B1EE4;
	}
	.form input:focus + .lbl-nombre:after, .form input:valid + .lbl-nombre:after{
		transform: translateX(0%);
	}
	@media only screen and (min-width:320px) and (max-width:768px){
	 .form{
		width:85%;
	}
		}

.button{
  position: relative;
  padding: 10px 15px;
  border: none;
  outline: none;
  background: #350642;
  color: #dcc2e4;
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;
  top: 2rem;
  left: 48rem;
}

button:hover{
  color: #fff;
}

button span{
  position: absolute;
  background:#fff;
  transition: 0.5s;

}

button span:nth-child(1){
  width: 100%;
  height: 1px;
  top:0;
  left: -100%;
}

button span:nth-child(2){
  width: 100%;
  height: 1px;
  bottom:0;
  right: -100%;
}

button span:nth-child(3){
  width: 1px;
  height: 100%;
  bottom:-100%;
  left: 0;
}

button span:nth-child(4){
  width: 1px;
  height: 100%;
  top:-100%;
  right: 0;
}

button:hover span:nth-child(1){
  left: 0;

}

button:hover span:nth-child(2){
  right: 0;

}

button:hover span:nth-child(3){
  bottom: 0;

}

button:hover span:nth-child(4){
  top: 0;

}

#check{
  display: none;
}

#check:checked ~ .menu{
  width: 400px;
}

.menu{
  position: fixed;
  top: 60px;
  width: 0px;
  height: 30rem;
  background: #350642;
  transition: all 500ms cubic-bezier(1,0,0,1);
  transition-timing-function: cubic-bezier(1,0,0,1);
  overflow: hidden;
}
.menu li{
  list-style: none;
  padding: 16px;
  color: white;
  cursor: pointer;
  transition: all 300ms;
  display: block;
  width: 400px;
}

.menu li:hover{
  background: rgba(0,0,0,0.2);
}

article{
  padding: 40px;
}

.content-all label{
  position: fixed;
  width: 100%;
  max-width: 1000px;
  top: 14px;
  font-size: 26px;
  color: white;
  cursor: pointer;
  z-index: 10;
}

.content-all h2{
  position: fixed;
  width: 100%;
  max-width: 1000px;
  top: 14px;
  font-size: 26px;
  text-align: right;
  color: white;
}

article h1{
  font-size: 30px;
  color: white;
  font-weight: 100;
  margin-top: 20px;
}

article .parrafo1{
  font-size: 20px;
  color: white;
  margin-top: 40px;
  letter-spacing: 2px;
}

article img{
  width: 100%;
  border: 4px solid white;
  margin-top: 40px;
}

article .parrafo2{
  font-size: 20px;
  color: white;
  margin-top: 40px;
  letter-spacing: 1px;
}

.botones{
  outline: none;
  text-decoration: none;
  margin: 6rem;
  color: whitesmoke;
}

#categoriasCajon{
  position: relative;
  left: 30rem;
  top:2.2rem;
}

.container {
  margin-top: 100px;
  padding: 32px;
}

.select-box {
  display: flex;
  width: 400px;
  flex-direction: column;
}

.select-box .options-container {
  position:relative;
  background: #2f3640;
  color: #f5f6fa;
  max-height: 0;
  width: 10rem;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;
  left:5rem;
  order: 1;
  bottom:3rem;
}

.selected {
  background: #2f3640;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #f5f6fa;
  position: relative;
  left: 5rem;
  order: 0;
  width: 10rem;
  bottom: 3rem;
}

.selected::after {
  content: "";
  background: url("img/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;

  transition: all 0.4s;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}

.select-box .option:hover {
  background: #414b57;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}

 

